---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import "@components/Icons.astro";
import TagLink from "@components/TagLink.astro";
const blogEntries = await getCollection("posts");
const title = "posts";
const tags = [...new Set(blogEntries.map((post) => post.data.tags).flat())];
---

<BaseLayout title={title}>
    <p>
        If you have a few minutes to spare, feel free to dig through my posts!
    </p>
    <ul>
        {
            blogEntries.map((blogPostEntry) => (
                <li>
                    <a href={`/posts/${blogPostEntry.slug}`}>
                        {blogPostEntry.data.title}
                    </a>
                    <time datetime={blogPostEntry.data.pubDate.toISOString()}>
                        {blogPostEntry.data.pubDate.toDateString()}
                    </time>
                </li>
            ))
        }
    </ul>

    <h2>tags</h2>
    <div class="tags">
        <p>
            Below is a list of all the tags I've used in my posts to make topics
            and categories way easier to find:
        </p>
        <ul>
            {
                tags.map((tag: string) => (
                    <li class="tag">
                        <TagLink {tag} />
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
