---
import BaseHeader from "@components/BaseHeader.astro";
import Footer from "@components/Footer.astro";
import HtmlHead from "@components/HtmlHead.astro";
import Icons from "@components/Icons.astro";
import "@styles/core.css";
let title;
if (Astro.url.host.includes("localhost")) {
    title = `DEV: ${Astro.props.title}`;
} else {
    title = Astro.props.title;
}
const desc =
    "Welcome to my personal site where I share insights on cloud engineering, web development, music, fitness, and more. Join me as I explore the intersection of technology and creativity.";
---

<!doctype html>
<html lang="en">
    <head>
        <HtmlHead {title} {desc} />
    </head>
    <body>
        <Icons />
        <div class="wrapper">
            <BaseHeader title={title} />
            <main>
                <h1>{title}</h1>

                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
