---
import HtmlHead from "@components/HtmlHead.astro";
import BaseHeader from "@components/BaseHeader.astro";
import Footer from "@components/Footer.astro";
import "@styles/core.css";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <HtmlHead
            title={"blog: " + frontmatter.title}
            desc={frontmatter.description}
        />
    </head>

    <body>
        <div class="wrapper">
            <BaseHeader title={frontmatter.title} />
            <main>
                <h1>{frontmatter.title}</h1>

                <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

                <div class="tags">
                    <ul>
                        {
                            frontmatter.tags.map((tag: string) => (
                                <li class="tag">
                                    <a href={`/tags/${tag}`}>{tag}</a>
                                </li>
                            ))
                        }
                    </ul>
                </div>

                {
                    frontmatter.image && (
                        <img
                            src={frontmatter.image.url}
                            width="300"
                            alt={frontmatter.image.alt}
                        />
                    )
                }

                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
