---
import BaseHeader from "../components/BaseHeader.astro";
import Footer from "../components/Footer.astro";
import "../styles/core.css";
interface Frontmatter {
    title: string;
    pubDate: string;
    image?: {
        url: string;
        alt: string;
    };
    tags: string[];
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>blog: {frontmatter.title}</title>
    </head>
    <body>
        <div class="wrapper">
            <BaseHeader title={frontmatter.title} />
            <main>
                <h1>{frontmatter.title}</h1>

                <p>{frontmatter.pubDate.slice(0, 10)}</p>
                {
                    frontmatter.image && (
                        <img
                            src={frontmatter.image.url}
                            width="300"
                            alt={frontmatter.image.alt}
                        />
                    )
                }

                <slot />

                <div class="tags">
                    <p>Tags for this post:</p>
                    <ul>
                        {
                            frontmatter.tags.map((tag: string) => (
                                <li class="tag">
                                    <a href={`/tags/${tag}`}>{tag}</a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </main>
            <Footer />
        </div>
    </body>
</html>
